:root{
  --mxgraph-main-color: #073746; //整体背景
  --fong-color: #759BA9; //文字颜色

  --mxgraph-menu-bg: #062234; //下拉菜单背景
  --mxgraph-menu-shadow: rgba(0,255,234,0.05); //下拉菜单shadow颜色
  --mxgraph-menu-border: linear-gradient(0deg, rgba(0,255,234,0.33), rgba(0,255,234,0.33)) 1 1; //下拉菜单shadow颜色
  --mxgraph-menu-bg-hover: #0d3d50; //下拉菜单shadow颜色
  --mxgraph-menu-split-line: #06364F; //下拉菜单shadow颜色

  --geMenu-text: #fff;
  --geMenu-bg: rgba(6, 34, 52, 0.3);
  --geMenu-bg-hover: #0d3d50;
  --geMenu-icon-hover: #164454;
  --geMenu-split: #06364F;

  --btn-bg: linear-gradient(to bottom, #062937 0%, #054453 100%);
  --btn-border: #045B6A;
  --btn-text: #759BA9;

  --checkbox-bg: #062634;
  --checkbox-size: 14px;

}
