@import "./mxgraph_theme_params.less";

body{
  background: var(--mxgraph-main-color);
}

.geDiagramContainer{
  background-color: var(--mxgraph-main-color);
}
.geDiagramBackdrop{
  background-color: var(--mxgraph-main-color);
}
.geFooterContainer{
  background-color: var(--mxgraph-main-color);
  border-top-color: var(--mxgraph-main-color);
}
.geBackgroundPage{
  border: none !important;
}



div.mxPopupMenu {
  box-shadow: 3px 3px 12px var(--mxgraph-menu-shadow);
  background: var(--mxgraph-menu-bg);
  border-image: var(--mxgraph-menu-border);
}

tr.mxPopupMenuItem {
  color: var(--fong-color);
}

html tr.mxPopupMenuItemHover {
  background-color: var(--mxgraph-menu-bg-hover);
  color: var(--fong-color);
}

.mxDisabled {
  opacity: 0.5 !important;
}

table.mxPopupMenu hr {
  color: var(--fong-color);
  background-color: var(--mxgraph-menu-split-line);
}
