@import "./mxgraph_theme_params.less";

//主容器
body{
  background: var(--mxgraph-main-color) !important;
}

.geDiagramContainer{
  background-color: var(--mxgraph-main-color) !important;
}
.geDiagramBackdrop{
  background-color: var(--mxgraph-main-color) !important;
}
.geFooterContainer{
  background-color: var(--mxgraph-main-color) !important;
  border-top-color: var(--mxgraph-main-color) !important;
}
.geBackgroundPage{
  border: none !important;
}
.geDialog{
  background: var(--mxgraph-main-color) !important;
  border: 0 !important;
  box-shadow: none !important;
  color: var(--btn-text) !important;
}

//顶部菜单
.geMenubarContainer, .geToolbarContainer, .geHsplit, .geVsplit{
  background-color: var(--geMenu-bg) !important;
}
.geSidebarContainer a, .geMenubarContainer a, .geToolbar a{
  color: var(--geMenu-text) !important;
}
.geMenubarContainer .geItem:hover{
  background: var(--geMenu-bg-hover) !important;
}
.geSeparator{
  background: var(--geMenu-split) !important;
}
.geToolbar{
  border-top-color: var(--geMenu-split) !important;
  box-shadow: inset 0 1px 0 0 var(--geMenu-split) !important;
}
.geToolbarContainer{
  border-bottom-color: var(--geMenu-split) !important;
}
.geToolbarContainer .geLabel:hover{
  background: var(--geMenu-bg-hover) !important;
}
.geToolbarContainer .geButton:hover{
  background: var(--geMenu-bg-hover) !important;
}

.geSprite{
  background-image: url(../image/icon.png) !important;
  min-width: max-content !important;
}

//菜单下拉
div.mxPopupMenu {
  box-shadow: 3px 3px 12px var(--mxgraph-menu-shadow) !important;
  background: var(--mxgraph-menu-bg) !important;
  border-image: var(--mxgraph-menu-border) !important;
}
tr.mxPopupMenuItem {
  color: var(--fong-color) !important;
}
html tr.mxPopupMenuItemHover {
  background-color: var(--mxgraph-menu-bg-hover) !important;
  color: var(--fong-color) !important;
}
.mxDisabled {
  opacity: 0.5 !important;
}
table.mxPopupMenu hr {
  color: var(--fong-color) !important;
  background-color: var(--mxgraph-menu-split-line) !important;
}
html td.mxPopupMenuIcon{
  background: var(--mxgraph-menu-bg) !important;
}
td.mxPopupMenuIcon .geIcon:hover{
  border-color: var(--geMenu-icon-hover) !important;
}

.geSidebarContainer{
  background: var(--mxgraph-main-color);
  border-image: var(--mxgraph-menu-border) !important;
}
.geFormatSection{
  border-image: var(--mxgraph-menu-border) !important;
}
.geSidebarContainer > div{
  color: var(--btn-text) !important;
}


//按钮
.geColorBtn, .geBtn{
  border-color: var(--btn-border) !important;
  background: var(--btn-bg) !important;
  border-radius: 3px !important;
  color: var(--btn-text) !important;
}
.geSidebarContainer .geToolbarContainer .geButton{
  border-color: var(--btn-border) !important;
  background: var(--btn-bg) !important;
  border-radius: 3px !important;
  color: var(--btn-text) !important;
}
.select-con .geColorBtn{
  border-color: var(--btn-border) !important;
  background: var(--btn-bg) !important;
  border-radius: 3px !important;
  color: var(--btn-text) !important;
}
.geSidebarContainer button{
  border-color: var(--btn-border) !important;
  background: var(--btn-bg) !important;
  color: var(--btn-text) !important;
  border-width: 1px !important;
  height: 25px !important;
  line-height: 25px !important;
}
.geBtn:hover, .geBtn:focus{
  border-color: var(--btn-border) !important;
  background: var(--btn-bg) !important;
  color: var(--btn-text) !important;
}
select option{
  background: var(--mxgraph-menu-bg) !important;
  border-image: var(--mxgraph-menu-border) !important;
}

input, select, textarea{
  background: transparent !important;
  color: var(--btn-text) !important;
}
.geBtnUpDown-con{
  border-image: var(--mxgraph-menu-border) !important;
}
.ge-btn-up{
  border-image: var(--mxgraph-menu-border) !important;
}
td.mxPopupMenuIcon .geIcon{
  margin: 2px 7px !important;
}

td.mxPopupMenuIcon .geIcon font{
  position: relative !important;
  left: -7px !important;
}
td.mxPopupMenuIcon .geIcon div{
  border-color: #046b70 !important;
}

.geSidebarContainer .geToolbarContainer .geButton .geIcon div{
  border-color: #046b70 !important;
}
input[type=checkbox] {
  width: var(--checkbox-size) !important;
  height: var(--checkbox-size) !important;
  position: relative !important;
}
input[type=checkbox]::after {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  content: " " !important;
  font-weight: bold !important;
  background: var(--checkbox-bg) !important;
  width: var(--checkbox-size) !important;
  height: var(--checkbox-size) !important;
  border: 1px solid #045B6A !important;
  box-sizing: border-box !important;
}

input[type=checkbox]:checked::after {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  content: " " !important;
  background: url('../image/checkbox.png') !important;
  width: var(--checkbox-size) !important;
  height: var(--checkbox-size) !important;
  border: 0 !important;
}
#app{
  .el-input__wrapper{
    background: var(--btn-bg);
  }
  .el-input-number.is-controls-right .el-input-number__increase, .el-input-number__decrease, .el-input-number__increase{
    border-image: var(--mxgraph-menu-border) !important;
    background: var(--btn-bg);
  }
}

.el-popper.is-light{
  background: var(--mxgraph-main-color) !important;
  border-image: var(--mxgraph-menu-border) !important;
  .el-popper__arrow::before{
    background: var(--mxgraph-main-color) !important;
  }
}
.el-popper{
  .el-picker-panel__footer{
    background: var(--mxgraph-main-color);
  }
  .el-date-picker{
    background: var(--mxgraph-main-color);
  }

  .el-picker-panel .el-time-panel{
    background: var(--mxgraph-main-color);
    color: var(--btn-text);
  }
  .el-time-spinner__item{
    color: var(--btn-text);
  }

  .el-time-spinner__item.is-active:not(.is-disabled){
    color: var(--btn-text);
  }

  .el-time-spinner__item:hover:not(.is-disabled):not(.is-active){
    background: var(--geMenu-bg-hover);
  }
  .el-time-panel__btn.confirm{
    color: var(--btn-text);
  }
  .el-time-panel__content::before{
    border-image: var(--mxgraph-menu-border);
  }
  .el-time-panel__footer{
    border-image: var(--mxgraph-menu-border);
  }
  .el-picker-panel .el-time-panel{
    border-image: var(--mxgraph-menu-border);
  }
  .el-date-picker__time-header{
    border-image: var(--mxgraph-menu-border);
  }
  .el-date-table th{
    border-image: var(--mxgraph-menu-border);
  }
  .el-picker-panel__footer{
    border-image: var(--mxgraph-menu-border);
  }


}

